<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title>게시 글 상세</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body th:align="center">
	<h1>게시글 상세</h1>
	<form th:action="@{/board/updateBoard}" method="post">
		<input name="seq" type="hidden" th:value="${board.seq}">
		<table th:align="center" border="1" th:cellpadding="0"
			th:cellspacing="0">
			<tr>
				<td th:text="제목" width="80"></td>
				<td><input name="title" type="text" th:value="${board.title}"></td>
			</tr>
			<tr>
				<td th:text="분류" width="80"></td>
				<td><input name="category" type="text"
					th:value="${board.category}"></td>
			</tr>
			<tr>
				<td th:text="작성자"></td>
				<td th:text="${board.member.name}"></td>
			</tr>
			<tr>
				<td th:text="내용">
				<td><textarea name="content" th:text="${board.content}"
						cols="40" rows="10"></textarea></td>
			</tr>
			<tr>
				<td th:text="등록일"></td>
				<td th:text="${#dates.format(board.createDate, 'yyyy-MM-dd')}"></td>
			</tr>
			<tr>
				<td th:text="조회수"></td>
				<td th:text="${board.cnt}"></td>
			</tr>
			<tr th:each="imageFile:${board.fileList}">
				<td><img th:src="|/board/images/${imageFile.id}|"></td>
				<td><p th:text="${imageFile.orgNm}"></td>
			</tr>
			<tr th:each="file:${board.fileList}">
				<td colspan="2" align="center"><a th:href="|/board/attach/${file.id}|" th:text="${file.orgNm}"></a></td>
			</tr>
			<tr
				th:if="${member.id == board.member.id || member.role=='ROLE_ADMIN'}">
				<td colspan="2" align="center"><input type="submit"
					value="게시글 수정"></td>

			</tr>
			<tr>
				<td style="font-size: 35px; font-weight: 510;" colspan="2"
					align="center">댓글 목록</td>
			</tr>

			<tr th:each="comment, state : ${board.commentList}">
				<td th:text="${comment.writer}"></td>
				<td th:text="${comment.content}"></td>
			</tr>
		</table>
	</form>
	<form th:action="@{/comment/insertComment}" method="post">
		<input name="seq" type="hidden" th:value="${board.seq}">
		<table th:align="center" border="1" th:cellpadding="0"
			th:cellspacing="0">

			<tr>
				<td th:text="댓글" width="80"></td>
				<td><textarea name="content"></textarea></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit"
					value="댓글 작성"></td>
			</tr>

		</table>
	</form>

	<a th:href="@{/board/insertBoard}">글등록</a>&nbsp;&nbsp;&nbsp;
	<a th:if="${member.id == board.member.id || member.role=='ROLE_ADMIN'}"
		th:href="@{/board/deleteBoard(seq=${board.seq})}">글삭제</a>&nbsp;&nbsp;&nbsp;
	<a th:href="@{/listBoard}">글목록</a>
</body>
</html>
